{% extends "inicio/encabezado.html" %}

{% block titulo %} Comentario de contacto {% endblock %}

{% block imagen%}
{%load static%}
{%static 'inicio/images/home.png'%}
{% endblock%}

{%block pageName%} Comentario de contacto {%endblock%}

{% block contenido%}
<!--Encabezdo -->
<div class="page-header">
	<div class="page-title">
		<h3>Comentarios
			<small>Lista de comentarios</small>
		</h3>
	</div>
</div>
<!-- /Encabezado-->
{%endblock%}

{% block contenido2%}
<!--Tabla alumnos-->
<table class="table table-bordered table-striped">
	<thead>
		<tr>
			<th>Usuario</th>
			<th>Mensaje</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for comentario in comentarios %}
		<tr>
			<td class="text-semibold">{{comentario.usuario}}</td>
			<td class="muted">{{comentario.mensaje}}</td>
			<td class="text-center">
				<a href="{%url 'ConsultaIndividual' comentario.id%}">Editar</a>
			</td>
			<td class="text-center">
				<a href="{%url 'Eliminar' comentario.id%}">Eliminar</a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
<!--End tabla alumnos-->
{%endblock%}